<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/universal.css">
    <link rel="stylesheet" href="/homeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body>
    <div id="pageContainer">
        <div id="loginForm">
            <h1 id="loginTitle">Welcome to JMessage!</h1>
            <a href="/auth/ion" aria-label="Login with Ion" id="loginWithIon">
                <img src="/ionLogo.png" alt="Ion" id="ionLogo">
                <span id="rightText">Continue with Ion</span>
            </a>
        </div>
    </div>
</body>
</html>