<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>JMessage Chats</title>
</head>
<body>  
    <div id="pageContainer">
        <div id="chatsSideBar" class="backgroundSections"> 
            <div id="sideBarContainer">
                <div id="formContainer">
                    <form id="newChat" action="/newChat" method="POST">
                        <div id="formInputs">
                            <input type="text" name="chatName" placeholder="Name Your Chat" id="chatNameInput" required>
                            <div id="inputWrapper">
                                <input type="text" name="chatUser" placeholder="Add Chat User" id="userNameInput" tabindex="-1" required>
                                <div id="ghostText"></div>
                            </div>
                            <button type="submit" id="submitButton"><img src="/add.svg" id="addImage"></button>
                        </div>
                    </form>
                </div>
                <div id="chatInsert"></div>
            </div>
        </div>
        <div id="currMessage" class="backgroundSections">
            <div id="topMessageHeader">
                <p id="topChatName">Loading...</p>
            </div>
            <div id="messages"></div>
            <div id="chatSendContainer">
                <form id="sendMessageBar" action="/submitMessage" method="POST">
                    <input type="text" placeholder="Send a message" id="sendMessageInput" name="msg"  autocomplete="off">
                    <button type="submit" id="submitMessage"><img src="/send.svg" id="sendMessageIcon"></button>
                </form>
            </div>
        </div>  
    </div>
    <script>

        const chats = JSON.parse('<%-chats%>');
        const user = JSON.parse('<%-user%>');
        const currentChat = document.getElementById("currMessage");
        const chatSendContainer = document.getElementById('chatSendContainer');
        const messageSend = document.getElementById("sendMessageBar");
        const topChatName = document.getElementById("topChatName");
        const messageInsert = document.getElementById("messages");
        const messageInput = document.getElementById("sendMessageInput");

    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>