<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>JMessage Chats</title>
</head>
<body>  
    <div id="pageContainer">
        <div id="chatsSideBar" class="backgroundSections"> 
            <div id="sideBarContainer">
                <div id="userOptionsBar" class="noselect">
                    <img src='/darkmodeIcon.png' alt="darkMode" id="darkModeIcon" onclick="turnDark()">
                    <img src="/lightmodeIcon.png" alt="lightMode" id="lightModeIcon" onclick="turnLight()">
                </div>
                <div id="formContainer">
                    <form id="newChat" action="/newChat" method="POST">
                        <div id="formInputs">
                            <input type="text" name="chatName" placeholder="Chat name" id="chatNameInput">
                            <div id="inputWrapper">
                                <input type="text" name="chatUser" placeholder="Chat users" id="userNameInput" tabindex="-1">
                                <div id="ghostText"></div>
                            </div>
                            <button type="submit" id="submitButton"><img src="/add.svg" id="addImage"></button>
                        </div>
                    </form>
                </div>
                <div id="chatInsert"></div>
            </div>
        </div>
        <div id="currMessage" class="backgroundSections">
            <div id="topMessageHeader">
                <p id="topChatName">Loading...</p>
            </div>
            <div id="messages">
                <div class="myMessage msg">
                    <p class="myMessageP msgp">Thisadshdasuidasuidasiu is my message</p>
                </div>
                <div class="theirMessage msg">
                    <p class="theirMessageP msgp">This is my message</p>
                </div>
                <div class="theirMessage msg">
                    <p class="theirMessageP msgp">This is my message</p>
                </div>
                <div class="theirMessage msg">
                    <p class="theirMessageP msgp">This is my message</p>
                </div>
                <div class="myMessage msg">
                    <p class="myMessageP msgp">Thisadshdasuidasuidasiu is my message</p>
                </div>
                <div class="myMessage msg">
                    <p class="myMessageP msgp">Thisadshdasuidasuidasiu is my message</p>
                </div>
                <div class="myMessage msg">
                    <p class="myMessageP msgp">Thisadshdasuidasuidasiu is my message</p>
                </div>
            </div>
            <div id="chatSendContainer">
                <form id="sendMessageBar" action="/sendMessage/<>" method="POST">
                    <input type="text" placeholder="Send a message" id="sendMessageInput" name="msg">
                    <button type="submit" id="submitMessage"><img src="/send.svg" id="sendMessageIcon"></button>
                </form>
            </div>
        </div>
    </div>
    <script>

        const chats = JSON.parse('<%-chats%>');
        const currentChat = document.getElementById("currMessage");
        const chatSendContainer = document.getElementById('chatSendContainer');
        const messageSend = document.getElementById("sendMessageBar");
        const messageInput = document.getElementById("sendMessageInput");

    </script>
    <script src="/chat.js"></script>
</body>
</html>