<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>JMessage Chats</title>
</head>
<body>  
    <div id="pageContainer">
        <div id="chatsSideBar" class="backgroundSections"> 
            <div id="userOptionsBar" class="noselect">
                <img src='/darkmodeIcon.png' alt="darkMode" id="darkModeIcon" onclick="turnDark()">
                <img src="/lightmodeIcon.png" alt="lightMode" id="lightModeIcon" onclick="turnLight()">
                <div>
                    <button onclick="getNames()">
                </div>
            </div>
            <div id="formContainer">
                <form id="newChat" action="/newChat" method="POST">
                    <input type="text" name="chatName" placeholder="Chat name">
                    <input type="text" name="chatUser" placeholder="Chat user">
                    <button type="submit" id="submitButton">Start chat</button>
                </form>
            </div>
            <div id="chatInsert"></div>
        </div>
        <div id="currMessage" class="backgroundSections">
            <div id="chatSendContainer">
                
            </div>
        </div>
    </div>
    <script>

        const chats = JSON.parse('<%-chats%>');
        const currentChat = document.getElementById("currMessage");
    
    </script>
    <script src="/chat.js"></script>
</body>
</html>