<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <div id="pageContainer">
        <div id="chatsSideBar" class="backgroundSections"> 
            <div id="userOptionsBar">
                <img src = '/darkmodeIcon.png' alt="darkMode" id="darkModeIcon" onclick="turnDark()">
            </div>
            <div id="formContainer">
                <form id="newChat" action="/newChat" method="POST">
                    <input type="text" name="chatName" placeholder="Chat name">
                    <input type="text" name="chatUser" placeholder="Chat user">
                    <button type="submit" id="submitButton">Start chat</button>
                </form>
            </div>
        </div>
        <div id="currMessage" class="backgroundSections">
            
        </div>
    </div>
    <script>

        const chatInsert = document.getElementById('chatInsert');
        const chats = JSON.parse('<%-chats%>');
    
    </script>
    <script src="/chat.js"></script>
</body>
</html>