#pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-image: url("/domeInside.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    overflow:hidden;
    height: 100vh;
}

#loginForm {
    width: 25%;
    height: 40%;
    margin: auto;   
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px rgba(255, 255, 255, 0.7) solid;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
    background-color: rgb(225, 225, 225, 0.5);
    backdrop-filter: blur(4px);
}

#alignProper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

#loginTitle{
    font-family: Elms Sans;
    color: rgb(40, 40, 43);
}

#loginWithIon {
    display: block;
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
    border: 1px solid rgb(159, 159, 159);
    width: 200px;
    padding: 6px 0px 6px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
    text-decoration: none;
}

#rightText {
    color: black;
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    margin: auto auto auto 0px;
    position: relative;
    bottom: 1px;
}

#ionLogo {
    height: 25px;
    margin: auto 0px auto auto;
}

.elms-sans-ElSansFont {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

