body{
    overflow: hidden;
    background-color: #242424;
}

#pageContainer{
    display: flex;
    flex-direction: row;
}

#chatsSideBar{
    background-color: #363636;
    display: flex;
    border-radius: 10px;
    min-width: 48%;
    height: 100vh;
    padding: 10px;
    margin-right: 10px;
    flex-direction: column;
}

#currMessage{
    display: flex;
    border-radius: 10px;
    min-width: 48%;
    height: 100vh;
}